body {
}

.command-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.command-list li {
	display: flex;
	align-items: center;
}

.command-button {
}

.command-list li button:hover {
}

.muted {
	opacity: 0.5;
}

.command-list svg {
	width: 18px;
	height: 18px;
	fill: var(--vscode-foreground);
	background: transparent;
	margin-left: 5px;
}

.category {
	background: var(--vscode-panelSectionHeader-background);
}

.category.collapsed {
	opacity: 0.5;
}

.collapse-arrow svg {
	width: 15px;
	height: 15px;
	fill: var(--vscode-foreground);
	background: transparent;
}