body {
}

.command-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.command-list li {
	display: flex;
	align-items: center;
}

.command-button {
}

.command-list li button:hover {
}

.command-list li:hover .template-type-indicator {
	opacity: 1;
}

.muted {
	opacity: 0.5;
}

#help-container svg,
.command-list svg {
	width: 18px;
	height: 18px;
	fill: var(--vscode-foreground);
	background: transparent;
}

.command-list svg {
	margin-left: 5px;
}

.category {
	background: var(--vscode-panelSectionHeader-background);
}

.category.collapsed {
	opacity: 0.5;
}

.collapse-arrow svg {
	width: 15px;
	height: 15px;
	fill: var(--vscode-foreground);
	background: transparent;
}

#help-panel ul {
	padding: 0;
	margin: 0;
}

#help-panel li {
	list-style: none;
}

#help-panel .help-item {
	background: var(--vscode-panelSectionHeader-background);
}

#help-panel .help-item .help-item-text {
	opacity: 0.5;
}

.template-type-indicator {
	opacity: 0.5;
}

.provider .logo svg {
	background: white;
	margin: 0;
	padding: 0;
	border-radius: 30%;
}

.provider {
	width: 20px;
	height: 20px;
	background: white;
	border-radius: 30%;
	color: black;
	padding: 1px;
	margin-left: 5px;
}

.provider .text {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}

.template-type-indicator {
	width: 20px;
}