body {}

.command-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.command-list li {
  display: flex;
  align-items: center;
}

.command-button {}

.command-list li button {
  border-bottom: 1px solid var(--vscode-panel-border);
}

.command-list li button:hover,
.command-list li button:focus,
.command-list li button:active {
  outline: none;
  background: var(--vscode-panelSectionHeader-background);
  transition: background 0.15s ease;
}

.command-list li:hover .template-type-indicator,
.command-list li:hover .provider {
  opacity: 1;
}

.command-description {
  opacity: 0.7;
}

.muted {
  opacity: 0.5;
}

#help-container svg,
.command-list svg,
.collapse-arrow svg {
  width: 14px;
  height: 14px;
  fill: var(--vscode-foreground);
  background: transparent;
}

.category {
  transition: background 0.15s ease;
  border-bottom: 1px solid var(--vscode-panel-border);
}

.category:hover {
  background: var(--vscode-panelSectionHeader-background);
}

.category.collapsed {
  opacity: 0.5;
}

.collapse-arrow svg {
  width: 15px;
  height: 15px;
}

#help-panel ul,
#help-panel li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#help-panel .help-item {
  background: var(--vscode-panelSectionHeader-background);
}

#help-panel .help-item .help-item-text,
.template-type-indicator {
  opacity: 0.5;
}

.provider svg {
  height: 14px;
  width: 14px;
}

.provider {
  opacity: 0.5;
  margin-left: 2px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.provider .text,
.template-type-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.template-type-indicator {
  width: 14px;
  margin-left: 2px;
}